:root {
    --done: #4C956C;
    --denied: #C94C4C;
    --background: #376cbd;
    --text: #0c1421;
    --primary: #3f83e9;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    box-sizing: border-box;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 18px;
  } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
    font-size: 24px;
  }
}

body {
  font-size: 16px;
  width: 100vw;
  height: 100dvh;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--background);
  font-weight: 500;
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

p {font-size: 1rem; /* 16px */}

small {font-size: 0.600rem; /* 9.6px */}

sec {
  color: var(--secondary);
}
prim {
  color: var(--primary);
}
acc {
  color: var(--accent);
}
border {
  color: transparent;
  -webkit-text-stroke: 2px var(--text);
}
