#drawArea {
    background: #fff;
    aspect-ratio: 1;
}
.container {
    background: yellow;
    width: 90vw;
    height: 90dvh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /*grid-template-rows: 1fr 3fr;*/
    gap: 20px;
    align-items: stretch;
}
.container .header {
    grid-column: 16;
    background: red;
}
.container .players {
    grid-column: 3;
}
.container .chat {
    grid-column: 4;
}